body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #cfcccc;
    margin: 20px;
}
h1 {
    background: white;
    font-size: 60px;
    padding: 50px;
    text-align: center;
    margin: 10px; 
    border-radius: 20px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.fake__img {
    height: 100px;
    background: grey;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}
.fake__img2 {
    height: 30px;
    background: grey;
    padding: 10px;
    margin: 10px 0px;
    width: 50%;
    border-radius: 10px;
    align-self: center;
}
img {
    width: 80%;
    border-radius: 10px;
    align-self: center;

}
.leftcolumn {
    width: 70%;
}
h2 {
    text-transform: uppercase;
}
.rightcolumn {
    width: 30%;
}
footer {
    background: rgb(156, 186, 243);
    height: auto;
    text-align: center;
    padding: 50px;
    font-size: 40px;
    margin: 10px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bolder;   
}
.chicken {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    
  }